@import "../../../styles/dominant/breakpoints.scss";
@import "../../../styles/variables/fonts-and-colors.scss";

@import "../../../styles/dominant/breakpoints.scss";
@import "../../../styles/variables/fonts-and-colors.scss";

.goBit {
  padding: 1.4rem 0 0.7rem 0;
  .pack {
    flex-direction: column;
    @include MQ(L) {
      flex-direction: row-reverse;
    }
    &__first {
      @include MQ(L) {
        width: 50%;
      }
    }
    &__second {
      @include MQ(L) {
        width: 50%;
      }
    }
  }
}
