@import "../../styles/variables/fonts-and-colors.scss";
@import "../../styles/dominant/breakpoints.scss";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

$mobileNavHeight: 7rem;

.navTitleBit {
  background-color: $prime-blue;
  padding: 1vh 0;
}

.mainNav {
  display: none;
  @include MQ(M) {
    display: block;
  }
  ul {
    background-color: #4e4e4e;
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
    list-style-type: none;
    li {
      display: inline-block;
      font-family: Silkscreen;
      font-size: 0.8rem;
      a {
        background-color: #4e4e4e;
        padding: 0 1rem;
        color: white;
        display: inline-block;
        &:hover {
          color: white;
          background-color: grey;
          text-decoration: none;
        }
      }
    }
  }
}
.designDevResourceMobile {
  display: block;
  @include MQ(S) {
    display: none;
  }
  &__imgCont {
    padding: 1rem 0;
  }
  &__img {
    width: 100%;
    max-width: 70vw;
  }
}

.ddrMenuMobl {
  &__cradle {
    // this determines whether it displays for mobile or desktop
    display: block;
    @include MQ(S) {
      display: none;
    }
  }
  &__hamper {
    // hamper is d-flex align-items-start justify-content-center m-0 p-0
    background-color: $prime-blue;
    height: $mobileNavHeight;
    position: fixed;
    z-index: 3;
    transition: height 0.5s ease-in-out;
    -webkit-box-shadow: 1px 5px 17px -3px rgba(0, 0, 0, 0.74);
    box-shadow: 1px 5px 17px -3px rgba(0, 0, 0, 0.74);
    &--isActive {
      height: 20rem;
    }
  }
  &__headerBar {
    // headerBar is d-flex align-items-center justify-content-center
    height: $mobileNavHeight;
  }
  // headerBar has two child divs: hamburgerCont and imgCont
  &__hamburgerCont {
    height: 100%;
    padding: 0.3rem 0.5rem 0 0.5rem;
    button.hamburger {
      padding: 0 0.5rem;
    }
  }
  &__imgCont {
    width: 90%;
  }
  &__img {
    width: 100%;
    max-width: 1200px;
  }
}

.hamburger,
.hamburger.is-active {
  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    background-color: white;
  }
}

.navSpacer {
  height: $mobileNavHeight;
  display: block;
  @include MQ(S) {
    display: none;
  }
}

.designDevResourceDesktop {
  display: none;
  &__imgCont {
    padding: 0.9rem 3rem;
  }
  @include MQ(S) {
    display: block;
  }
  &__img {
    width: 100%;
    max-width: 1000px;
  }
}
