@import "../../styles/variables/fonts-and-colors.scss";
@import "../../styles/dominant/breakpoints.scss";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.navTitleBit {
  background-color: $prime-blue;
  padding: 1vh 0;
}

.navTitleBitMob {
  background-color: $prime-blue;

  height: 3.5rem;
  position: fixed;
  z-index: 3;
  // -webkit-box-shadow: 1px 5px 17px -3px rgba(0, 0, 0, 0.74);
  // box-shadow: 1px 5px 17px -3px rgba(0, 0, 0, 0.74);
}

.navSpacer {
  height: 3.1rem;
  display: block;
  @include MQ(S) {
    display: none;
  }
}

.hamburgerCont {
  padding: 0.3rem 0 0 0;
  button.hamburger {
    padding: 0 0.5rem;
  }
}

.hamburger,
.hamburger.is-active {
  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    background-color: white;
  }
}

.mainNav {
  display: none;
  @include MQ(M) {
    display: block;
  }
  ul {
    background-color: #4e4e4e;
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
    list-style-type: none;
    li {
      display: inline-block;
      font-family: Silkscreen;
      font-size: 0.8rem;
      a {
        background-color: #4e4e4e;
        padding: 0 1rem;
        color: white;
        display: inline-block;
        &:hover {
          color: white;
          background-color: grey;
          text-decoration: none;
        }
      }
    }
  }
}
.designDevResourceMobile {
  display: block;
  @include MQ(S) {
    display: none;
  }
  &__imgCont {
    padding: 1rem 0;
  }
  &__img {
    width: 100%;
    max-width: 70vw;
  }
}

.designDevResourceNewMob {
  display: block;
  &__imgCont {
    padding: 0.9rem 0.4rem;
  }
  @include MQ(S) {
    display: none;
  }
  &__img {
    width: 100%;
    max-width: 1200px;
  }
}

.slideMenu {
  width: 100%;
  top: 3.5rem;
  height: 20rem;
  position: fixed;
  z-index: 3;
  background-color: $prime-blue;
}

.designDevResourceDesktop {
  display: none;
  &__imgCont {
    padding: 0.9rem 3rem;
  }
  @include MQ(S) {
    display: block;
  }
  &__img {
    width: 100%;
    max-width: 1000px;
  }
}
