@import "../../styles/variables/fonts-and-colors.scss";
@import "../../styles/dominant/breakpoints.scss";

.titleBit {
  background-color: $prime-blue;
  padding: 1vh 0;
}

.designDevResourceMobile {
  display: block;
  @include MQ(S) {
    display: none;
  }
  &__img {
    width: 100%;
    max-width: 70vw;
    padding: 1rem 0;
  }
}

.designDevResourceDesktop {
  display: none;
  @include MQ(S) {
    display: block;
    padding: 0 1rem;
  }
  &__img {
    width: 100%;
    max-width: 1200px;
    padding: 1rem 0;
  }
}
