@import "../../styles/variables/fonts-and-colors.scss";
@import "../../styles/dominant/breakpoints.scss";

.titleBit {
  background-color: $prime-blue;
  padding: 1vh 0;
}

.workDesignLogo {
  display: block;
  @include MQ(S) {
    display: none;
  }
  &__img {
    width: 100%;
    max-width: 70vw;
    margin: 1rem 0;
  }
}

.workDesignLogoDesktop {
  display: none;
  @include MQ(S) {
    display: block;
  }
  &__img {
    width: 100%;
    max-width: 800px;
    margin: 1rem 0;
  }
}

.redBox {
  height: 100px;
  width: 100px;
  background-color: red;
  @include MQ(S) {
    display: none;
    max-width: 800px;
    margin: 1rem 0;
  }
}
